/* src/styles/index.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #303a3d;
  color: #fafafa;
  display: grid;
  font-family: sans-serif;
  min-height: 100vh;
  place-content: center;
}

img {
  display: block;
  margin: 0 auto;
}

h1,
div {
  text-align: center;
  padding: .75rem 0;
}

div+div {
  padding: .5rem 0 0;
}

pre {
  background-color: #49575c;
  border-radius: .25rem;
  display: inline;
  padding: .25rem .5rem;
}